<?xml version="1.0" encoding="UTF-8"?>
<Error><Code>AccessDenied</Code><Message>Access Denied</Message><RequestId>947XVHXSNW082BZC</RequestId><HostId>UBHtMJl2J/WQysk/22uavAcQLdVNtLwa8MFnEtv4dXY7WLd9NF01lG1jqtcBjkhmhFZRtVAZd2atvsUNB9qt6skWPgewqpkxQNHUT+TQAk8=</HostId></Error>