{
    "fileLocations": [
        {
            "URIs": [
TEMPLATEFILESHERE
            ]
        }
    ],
    "globalUploadSettings": {
       "format": "CSV",
        "delimiter": ",",
        "textqualifier": "'",
        "containsHeader": "false"
    }
}
